
// spacing
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 20px;

// colors
$primary-blue: #00a1e0;
$font-color: #fff;
$btn-color: #ff6600;
$light-gray: #e6e6e6;
$black: #000000;
$green: #00b33c;
$red: #ff471a;
$gray: #737373;

