/* You can add global styles to this file, and also import other style files */
@import '../src/app/bb-ui/styles/vars.scss';
.btn-primary {
  color: $font-color;
  background-color: $btn-color !important;
  border-color: $btn-color !important;
  margin-right: 0;
  margin-left: 14rem;
}
.p-panel .p-panel-header {
  background: $primary-blue !important;
  color: $font-color !important;
}
.lni {
  height: 24px;
  width: 24px;
  // background-image: url('./assets/outline_search_black_24dp.png');
}
.p-dialog .p-dialog-header {
  border-bottom: 1px solid lightgray !important;
  height: 60px;
}
.p-dialog .p-dialog-footer {
  border-top: 1px solid lightgray !important;
  padding: 1rem !important;
}
.p-dialog .p-dialog-content {
  overflow-y: unset;
}
.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  margin-left: 1rem;
  margin-top: -3rem;
}
#transactions {
  font-style: italic;
  font-size: 12px;
}
.pi-search {
  font-size: 24px !important;
  color: slategray;
}
